<navbar></navbar>
<div class="video-row" ng-show="selectedProject">
    <div class="video-data">
        <h4>{{selectedProject.title}}</h4>
        <p>{{selectedProject.description}}</p>
    </div>
    <div class="video-container">
        <iframe src="https://player.vimeo.com/video/149117731" style="width: 100%; min-height: 360px;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>
<div class="grid">
    <div class="item" ng-repeat="item in featured">
        <div class="overlay">
            <div class="wrapper" ng-click="selectProject(item.name)">
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
            </div>
        </div>
        <img src="assets/images/{{item.image}}" alt="">
    </div>
</div>
<footer></footer>
